*{
    
    font-family: 'Space Mono', monospace;
    /* margin:0;
    padding:0; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    background-color: hsl(185, 41%, 84%);
    height: 100%;
  }
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


#calculatorContent{

    padding:0 3vw 0 3vw
}

#paramWindow{

    border: 1px solid black;
}

#calculator{

    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

#tipSelectWindow{
    /* padding:3vh; */
    border: 1px solid black;
}


#tipSelectors{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    

    /* display: flex;
    flex-direction: row; */
}

#tipSelectors > div{
    border: transparent;
    /* display: block; */
    background-color: hsl(183, 100%, 15%);
    border: 1px solid hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    
}
/* #tipSelectors > button{
    border: transparent;
    
    background-color: hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    
} */

#tipSelectors > *{
    
 height: 5vh

}


.leftSelector {
margin: 1vh 1vw 1vh 0;

}
.rightSelector {
margin: 1vh 0 1vh 1vw;

}

#tipSelectors > div:hover{
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    border: 1px solid hsl(172, 67%, 45%);
}

#resultWindowContent{

    background-color: hsl(183, 100%, 15%);
}

input{
    text-align: right;
    border: 1px solid hsl(189, 41%, 97%);
    background-color: hsl(189, 41%, 97%)
}
input:hover{
    border: 1px solid hsl(172, 67%, 45%);
}

#resultWindowContent{
    padding: 3vh;
    display:grid;
    grid-template-columns: repeat(1fr, 1fr);
}


#tipAmount{
    text-align: right;
}
#totalAmount{
    text-align: right;

}

#resultWindow> button{
grid-column: 1/3;
grid-row: 3;
}
