*{
    
    font-family: 'Space Mono', monospace;

    --blue_dark: #00494d;
    --blue_strong:#0c656a;
    --blue_light:#c5e4e7;
    --grey : #7f9c9f;
    --blue_very_light:	#eff8fa;
    --white: #ffffff;
    --red_light: #c58978;
    --turquoise: #26c0ab;
    --turquoise_light: #9FE8DF;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    background-color: var(--blue_light);
    height: 100%
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#logoMain{
width:25vw;
margin: 5vh 0 5vh 0 ;
}

#calculator{

    padding:0;
    margin: 0;
    width: 100vw;
}

#calculatorContent{

    padding:5vh 9vw 0 9vw
}



#calculator{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

fieldset{

    border: none;
margin-left: 0;
margin-right: 0;
padding-right: 0;
padding-left: 0;

}

/* /////////////////////////////// TIPS /////////////////////////////// */

#inputContainer{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#inputContainer > input{

    padding:0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: auto;
    flex-basis:calc(47% - 8px);
    font-size: 1.5em;
    margin: 0 4px 6% 4px 
    
}


#inputContainer > input[type=button]{  
    text-align: center;
}


.notClickedTip{


    border:1px solid  var(--blue_dark);
    /* background-color: hsl(183, 100%, 15%); */
    background-color: var(--blue_dark);
    outline:2px solid var(--blue_dark);
    color:var(--white);
}

.notClickedTip:hover{
    background-color: var(--turquoise_light);
    outline:2px solid var(--turquoise_light);
    color:var(--blue_dark);
}


.tipClicked{
    background-color: var(--turquoise);
    border:1px solid var(--turquoise);
    outline:2px solid hvar(--turquoise);
    color: var(--blue_dark)
}
/* ////////////////////////////// RESULTS ////////////////////////////// */

.notCustomInput{
    width:100%;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 3%;
}


input[type=number]{
    text-align: right;
    display: block;
    /* background-color:  hsl(189, 41%, 97%); */
    background-color:var(--blue_very_light);
    /* background-color:var(--blue_light); */
    -moz-appearance:textfield ;   
    
    padding:3px;
    margin: 0 2px 0 2px ;
    width: calc(100% - 12px);
    font-size: 1.5em;

}


input[type=number]:focus{
    outline:2px solid var(--turquoise);
}

input[type=number]:hover{
    outline:2px solid var(--turquoise);
}

/* input[type=number]{
    outline:2px solid hsl(172, 67%, 45%);
} */




.unClickedInput{
    border: 1px solid transparent;
}
/* 
.clickedInput{
    outline:none;
    border:1px solid hsl(172, 67%, 45%);
} */



#boxMessage{
    display:flex;
    justify-content: space-between;
}

#peopleLegend{
  
    display:inline-flex;
    width: 100%;
 
    justify-content: space-between;
}


.errorZeroPeople{
    color:var(--red_light);  
}



.errorZeroPeopleInput{
    outline:2px solid var(--red_light);
}

/* .errorZeroPeopleInput:hover{
    outline:2px solid hsl(13,39.9%,62.2%);
} */


#resultWindowContent{
 background-color: var(--blue_dark);
 padding: 3vh;
 border-radius:10px ;
 -webkit-border-radius:10px ;
 -moz-border-radius:10px ;
 -ms-border-radius:10px ;
 -o-border-radius:10px ;
}

#display{
    display:grid;
    grid-template-columns: 50% 50%;
}

.amount {
    color: var(--turquoise);
    font-size:1.8em;
}
.sub {
    color: var(--grey)
}
.title{
    color:var(--white);
}
#tipAmount{
    text-align: right;
    overflow: hidden;
}
#totalAmount{
    text-align: right;
    overflow: hidden;

}



#resultWindowContent> button{  
    background-color: var(--turquoise);
    border:1px solid var(--turquoise);
    width: 100%; 
    border-radius:5px ;
     -webkit-border-radius:5px ;
      -moz-border-radius:5px ;
       -ms-border-radius:5px ; 
       -o-border-radius:5px ;
}


#resetButton:disabled{ 
    background-color:  var(--blue_strong);
    border: 1px solid  var(--blue_strong);
}


    #resetButton:hover{
        background-color: 'red'; 
    }

    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

