*{
    
    font-family: 'Space Mono', monospace;
    /* margin:0;
    padding:0; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    background-color: hsl(185, 41%, 84%);
    height: 100%;
  }
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#calculator{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}